@charset "utf-8";
/* CSS Document */

body
{
	background-color: #CCC;
}

div
{
	display: block;
	background-color: transparent;
}

.center
{
	align: center;
	text-align: center;
}

#main_container
{
	margin: 0px auto;
	width: 940px;
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: transparent;
}

#logo_bg
{
	background-image: url(../images/for_grange_template/logo_bg.jpg);
	background-repeat: repeat-x;
	height: 50px;
	padding-top: 5px;
	padding-left: 5px;
	border-radius: 8px;
	margin-bottom: 15px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

#logo
{
	background-image: url(../images/for_grange_template/logo.png);
	background-repeat: no-repeat;
	height: inherit;
}

#main_dropdown
{
	margin-top: 15px;
}

#wrapper
{
	width: 940px;
	padding-bottom: 50px;
	position: absolute;
	top: 395px;
}

#inner_body
{
	background-color: #0FF;
	border-radius: 8px;
	padding-bottom: 15px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

#sidebar
{
	width: 200px;
	/*border-top: 1px solid #CCC;*/
	position: absolute;
	right: 10px;
	padding: 15px;
}

.main_content
{
	width: 680px;
	min-height: 300px;
	border-right: 1px solid #CCC;
	/*border-top: 1px solid #CCC;*/
	padding-top: 15px;
	position: relative;
	left: 20px;
}

#crumbs
{
	font-size: 12px;
	text-align: left;
	padding: 10px 0px 10px 15px;
}

#footer
{
	font-size: 10px;
	margin-top: 15px;
}